<%- include('adminPageHaed') -%>

<link rel="stylesheet" href="/css/style3.css"/> 

<link rel="stylesheet" href="/css/style1.css"/> 
  <title> Add Courses</title>
 
  


     
 


      
     <!-- /////////////////// start Add ///////////  -->
  
<div class="container">
<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12">
  <div class="add">
<p> Add Course </p>


<form method="post" action="/addCourse">
  <label for="fname">Course Name</label>
  <input type="text" id="subjectName" name="name" placeholder="Name of Course" required>
  <br>
   <br><br>
<button type="submit" class="btn btn-success" id="add-Quiz">Add Course</button>
</form>

      <!-- /////////////////      Start table ////////////////////////// -->



       
    </div>
  </div>
</main> 
 <!-- /////////////////// End Add ///////////  -->
 <!-- /////////////////      End table////////////////////////// -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- <script  src="function.js"></script> -->
 
</body>
</html>

