<%- include('adminPageHaed') -%>


<div class="alert alert-success" role="alert">
  the course was added successfully!
</div>





<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- <script  src="function.js"></script> -->
 
</body>
</html>