<%- include('navBar'); -%>

<title>Courses</title>
  <!-- ##########  Quiz ###########-->
  <section class="section" id="Courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="center-heading">
            <h2>All Courses</h2>
          </div>
        </div>
        <%courses.forEach(function (course){%>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
               data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
            <div class="features-item">
              <div class="features-1">
                <img src="/img/22.jpg">
                <h4><%=course.name%></h4>
                <p>
                </p>
                <a href="/courseContent/<%=course._id%>" class="main-button">Go to quizzes</a>
              </div>
            </div>
          </div>
        <%})%>

      </div>
    </div>




  </section>
  <!-- ***** Section-2 End ***** -->





  <div class="footer-dark">
    <footer id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">

                    <h3>Services</h3>
                    <ul>
                      <li><a href="allCourse">Courses</a></li>
                      <li><a href="login">Login </a></li>
                      <li><a href="#Contact">Contact Us</a></li>
                  </ul>
                    
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
  
                      <li><a href="/">Web WISE Quiz </a></li>
                      <li><a href="https://play.google.com/store?utm_source=emea_Med&utm_medium=hasem&utm_content=Oct1515&utm_campaign=Evergreen&pcampaignid=MKT-EDR-emea-jo-all-Med-hasem-py-Evergreen-Dec0215-1-BKWS%7cONSEM_kwid_43700009229981503&gclid=CjwKCAjwiLGGBhAqEiwAgq3q_scxmsrmrbIqPIVyKWTBUWQAOb05Tq2zrjdutnRyEEZlDaLCM8gh5hoCFjcQAvD_BwE&gclsrc=aw.ds">App WISE Quiz</a></li>
                     
                  </ul>
            
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Wise Quiz app and website</p>
                </div>
                   
                <div class="social-media">
                    <ul>
                       <a href="/" ><li><img title="WISE quiz " src="/img/quizayLogo.png" alt="images WISE QUIZ"></li></a>
                       <a href="https://twitter.com/" target="_blank"> <li><img title="Twitter" src="/img/twitter.png" alt="images Twitter"></li> </a>
                        <a href=" https://www.google.com/" target="_blank"> <li><img title="Google" src="/img/google.png" alt="images Google"></li></a>
                        <a href="https://web.facebook.com/" target="_blank"> <li><img title="facebook" src="/img/facebook.png" alt="images facebook"></li></a>
    
                    </ul>
                </div>
        </div>
    </footer>
</div>
    <!-- ***** Footer End ***** -->






    <!-- jQuery -->
    <script src="js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="js/custom.js"></script>

</body>

</html>