<%- include('navBar'); -%>
<title>Login page</title>

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3">
                    </h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>

                    <label for="reg-log"></label>


                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">

                                        <h4 class="mb-4 pb-3">Create Account</h4>
                                        <form method="POST" action="/signUp">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-style"
                                                       placeholder="Your Full Name" id="logname" autocomplete="off"
                                                       required>
                                                <i class="input-icon lar la-user" ></i>
                                               
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="email" name="username" class="form-style"
                                                       placeholder="Your Email" id="logemail" autocomplete="off"
                                                       required>
                                                       <i class="input-icon las la-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="password" class="form-style"
                                                       placeholder="Your Password" id="logpass" autocomplete="off"
                                                       required>
                                                       <i class="input-icon las la-lock"></i>
                                            </div>
                                            <input class="checkbox btn1 mt-4" type="submit" value="signup" id="reg-log" na
                                                   me="reg-log"/>

                                            <label for="reg-log">Login</label>
                                        </form>

                                        </label>


                                    </div>
                                    <br>

                                    <div class="social-media">
                                        <ul>
                                            <li><a href="/auth/facebook"> <img title="Facebook" src="img/facebook.png"
                                                                               alt="images Facebook"></a></li>

                                            <li><a href="/auth/google"><img title="Google" src="img/google.png"
                                                                            alt="images Google"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <form method="POST" action="/Login">
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Login</h4>
                                            <div class="form-group mt-2">
                                                <input type="email" name="username" class="form-style"
                                                       placeholder="Your Email" id="logemail" autocomplete="off"
                                                       required>
                                                <i class="input-icon las la-at"></i>
                                                
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="password" class="form-style"
                                                       placeholder="Your Password" id="logpass" autocomplete="off"
                                                       required>
                                                <i class="input-icon las la-lock"></i>
                                                
                                            </div>

                                            
                                            <input class="checkbox btn1 mt-4" type="submit" value="Login"  id="reg-log" na
                                                   me="reg-log"/>

                                            <label for="reg-log">Sign Up</label>
                                            </label>
                                            <div class="social-media">
                                                <ul>
                                                    <li><a href="/auth/facebook"> <img title="Facebook"
                                                                                       src="img/facebook.png"
                                                                                       alt="images Facebook"></a></li>
                                                    <li><a href="/auth/google"><img title="Google" src="img/google.png"
                                                                                    alt="images Google"></a></li>
                                                </ul>
                                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>


<div class="footer-dark">
    <footer id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">

                    <h3>Services</h3>
                    <ul>
                      <li><a href="allCourse">Courses</a></li>
                      <li><a href="login">Login </a></li>
                      <li><a href="#Contact">Contact Us</a></li>
                  </ul>
                    
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
  
                      <li><a href="/">Web WISE Quiz </a></li>
                      <li><a href="https://play.google.com/store?utm_source=emea_Med&utm_medium=hasem&utm_content=Oct1515&utm_campaign=Evergreen&pcampaignid=MKT-EDR-emea-jo-all-Med-hasem-py-Evergreen-Dec0215-1-BKWS%7cONSEM_kwid_43700009229981503&gclid=CjwKCAjwiLGGBhAqEiwAgq3q_scxmsrmrbIqPIVyKWTBUWQAOb05Tq2zrjdutnRyEEZlDaLCM8gh5hoCFjcQAvD_BwE&gclsrc=aw.ds">App WISE Quiz</a></li>
                     
                  </ul>
            
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p> Quizay app and website</p>
                </div>
                   
                <div class="social-media">
                    <ul>
                       <a href="/" ><li><img title="WISE quiz " src="img/quizayLogo.png" alt="images WISE QUIZ"></li></a>
                       <a href="https://twitter.com/" target="_blank"> <li><img title="Twitter" src="img/twitter.png" alt="images Twitter"></li> </a>
                        <a href=" https://www.google.com/" target="_blank"> <li><img title="Google" src="img/google.png" alt="images Google"></li></a>
                        <a href="https://web.facebook.com/" target="_blank"> <li><img title="facebook" src="img/facebook.png" alt="images facebook"></li></a>
    
                    </ul>
                </div>
        </div>
    </footer>
</div>


<!-- jQuery -->
<script src="js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="js/owl-carousel.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="js/custom.js"></script>


</body>
</html>